html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #333544;
  overflow-x: hidden;
  margin: 0;
  font-family: sans-serif;
}

header {
  top: 0;
  width: 100%;
  background-color: #2F2F38;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header div h1 {
  color: rgb(211, 211, 211);
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  header div h1 {
    font-size: 16px;
  }
}

.main {
  background-color: #333544;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  flex-direction: column;
  row-gap: 20px;
}
.main .title-heading {
  width: 85%;
  display: flex;
  color: rgb(211, 211, 211);
  font-size: 24px;
  font-weight: bold;
}
.main .title-heading .btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  color: rgb(211, 211, 211);
  border-radius: 28px;
  padding: 0.5rem;
  text-decoration: none;
}
.main .title-heading .btn-back a {
  color: rgb(211, 211, 211);
  text-decoration: none;
}
.main .title-heading .btn-back:hover {
  color: #ededed;
  text-decoration: none;
}
.main .title-heading .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main .title-heading .faction-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  margin-right: 0.5em;
}
@media screen and (max-width: 600px) {
  .main .title-heading {
    font-size: 16px;
  }
  .main .title-heading .btn-back img {
    width: 50px;
    height: 50px;
  }
}
.main .search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%;
}
.main .search-section .filter-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 2em;
}
.main .search-section .filter-button img {
  width: 64px;
  height: 64px;
}
.main .search-section .search-wrapper {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  width: 50%;
  height: 3.125rem;
  background-color: #3A3A46;
  border-radius: 28px;
  margin-left: 64px;
}
.main .search-section .search-wrapper .search-input {
  font-size: 20px;
  background-color: transparent;
  color: rgb(211, 211, 211);
  width: 100%;
  border-width: 0;
  outline: none;
  padding-left: 1rem;
}
@media screen and (max-width: 600px) {
  .main .search-section .search-wrapper .search-input {
    font-size: 16px;
  }
}
.main .filter-section {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, opacity 0.6s ease-out;
}
.main .filter-section[data-visible=true] {
  display: flex;
  opacity: 1;
  max-height: 20em;
  visibility: visible;
  width: 75%;
  min-height: 5em;
  margin-bottom: 2rem;
  background-color: #3A3A46;
  box-shadow: 0 2px 5px rgba(40, 39, 39, 0.7);
}
.main .filter-section .filter-section-bandit {
  display: flex;
  float: left;
  width: 50%;
}
.main .filter-section .filter-section-bandit .filter-section-bandit-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1%;
}
.main .filter-section .filter-section-bandit .filter-section-bandit-checkbox h1 {
  color: rgb(211, 211, 211);
}
.main .filter-section .filter-section-bandit .filter-section-bandit-checkbox input[type=checkbox] {
  width: 1.5em;
  height: 1.5em;
  margin-left: 3%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}
.main .filter-section .filter-section-bandit .filter-section-bandit-checkbox input[type=checkbox]:hover {
  background-color: #5a5a60;
}
.main .filter-section .filter-section-bandit .filter-section-bandit-checkbox input[type=checkbox]:checked {
  background-color: #2F2F38;
  border-color: #2F2F38;
}
.main .filter-section .filter-section-bandit .filter-section-bandit-checkbox input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5em;
  height: 0.5em;
  background-color: black;
  transform: translate(-50%, -50%) rotate(45deg);
  border: solid black;
  border-width: 0 2px 2px 0;
}
.main .filter-section .filter-section-covenant {
  display: flex;
  float: right;
  width: 50%;
}
.main .filter-section .filter-section-covenant .filter-section-covenant-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1%;
}
.main .filter-section .filter-section-covenant .filter-section-covenant-checkbox h1 {
  color: rgb(211, 211, 211);
}
.main .filter-section .filter-section-covenant .filter-section-covenant-checkbox input[type=checkbox] {
  width: 1.5em;
  height: 1.5em;
  margin-left: 3%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}
.main .filter-section .filter-section-covenant .filter-section-covenant-checkbox input[type=checkbox]:hover {
  background-color: #5a5a60;
}
.main .filter-section .filter-section-covenant .filter-section-covenant-checkbox input[type=checkbox]:checked {
  background-color: #2F2F38;
  border-color: #2F2F38;
}
.main .filter-section .filter-section-covenant .filter-section-covenant-checkbox input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5em;
  height: 0.5em;
  background-color: purple;
  transform: translate(-50%, -50%) rotate(45deg);
  border: solid purple;
  border-width: 0 2px 2px 0;
}
.main .quest-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main .quest-list .no-results-message {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 1rem;
}
.main .quest-boxes-list,
.main .quest-details {
  display: flex;
  flex-direction: column;
  width: 85%;
  min-height: 9.375em;
  margin-bottom: 2rem;
  background-color: #3A3A46;
  box-shadow: 0 2px 5px rgba(40, 39, 39, 0.7);
}
.main .quest-boxes-list .quest-description,
.main .quest-details .quest-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 2%;
  color: rgb(211, 211, 211);
  line-height: 1.5;
}
.main .quest-boxes-list .quest-description .quest-text,
.main .quest-details .quest-description .quest-text {
  display: flex;
  width: 100%;
  padding-bottom: 2%;
}
.main .quest-boxes-list .quest-description .quest-image,
.main .quest-details .quest-description .quest-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .quest-boxes-list .quest-description .quest-image img,
.main .quest-details .quest-description .quest-image img {
  width: 50%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 600px) {
  .main .quest-boxes-list .quest-description .quest-image img,
  .main .quest-details .quest-description .quest-image img {
    width: 85%;
  }
}
@media screen and (max-width: 400px) {
  .main .quest-boxes-list .quest-description .quest-image img,
  .main .quest-details .quest-description .quest-image img {
    width: 100%;
  }
}
.main .quest-boxes-list .quest-box-title,
.main .quest-boxes-list .quest-box-description,
.main .quest-boxes-list .quest-box-link,
.main .quest-details .quest-box-title,
.main .quest-details .quest-box-description,
.main .quest-details .quest-box-link {
  display: flex;
  color: rgb(211, 211, 211);
  flex-grow: 1;
  margin: 0%;
}
.main .quest-boxes-list .quest-box-title,
.main .quest-details .quest-box-title {
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  font-size: 22px;
  font-weight: bold;
}
.main .quest-boxes-list .quest-box-title .quest-box-icon,
.main .quest-details .quest-box-title .quest-box-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}
@media screen and (max-width: 600px) {
  .main .quest-boxes-list .quest-box-title,
  .main .quest-details .quest-box-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .main .quest-boxes-list .quest-box-title,
  .main .quest-details .quest-box-title {
    font-size: 15px;
  }
}
.main .quest-boxes-list .quest-box-description,
.main .quest-details .quest-box-description {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .main .quest-boxes-list .quest-box-description,
  .main .quest-details .quest-box-description {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .main .quest-boxes-list .quest-box-description,
  .main .quest-details .quest-box-description {
    font-size: 12px;
  }
}
.main .quest-boxes-list .quest-box-link,
.main .quest-details .quest-box-link {
  justify-content: right;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
}
.main .quest-boxes-list .quest-box-link a,
.main .quest-details .quest-box-link a {
  color: rgb(211, 211, 211);
  text-decoration: none;
}
.main .quest-boxes-list .quest-box-link a:hover,
.main .quest-details .quest-box-link a:hover {
  color: #ededed;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .main .quest-boxes-list .quest-box-link,
  .main .quest-details .quest-box-link {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .main .quest-boxes-list .quest-box-link,
  .main .quest-details .quest-box-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .main .quest-boxes-list,
  .main .quest-details {
    width: 90%;
    min-height: 7.5em;
  }
}
@media screen and (max-width: 400px) {
  .main .quest-boxes-list,
  .main .quest-details {
    width: 95%;
    min-height: 5em;
  }
}
.main .pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.main .pagination-button {
  background-color: #333544;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main .pagination-button.active {
  background-color: #2F2F38;
  font-weight: bold;
}
.main .pagination-button:hover {
  background-color: #44475a;
}

.quest-boxes-list.hide {
  display: none;
}

footer {
  display: flex;
  bottom: 0;
  margin-top: 5%;
  width: 100%;
  background-color: #2F2F38;
}
footer .Footer-Details-Left {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}
footer .Footer-Details-Left .Footer-Details-Left-List {
  color: rgb(211, 211, 211);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
footer .Footer-Details-Left .Footer-Details-Left-List a {
  color: rgb(211, 211, 211);
  text-decoration: none;
}
footer .Footer-Details-Left .Footer-Details-Left-List a:hover {
  color: #ededed;
}
footer .Footer-Details-Right {
  width: 50%;
  float: right;
  margin-bottom: 20px;
}
footer .Footer-Details-Right .Footer-Details-Right-List {
  color: rgb(211, 211, 211);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
footer .Footer-Details-Right .Footer-Details-Right-List a {
  color: rgb(211, 211, 211);
  text-decoration: none;
}
footer .Footer-Details-Right .Footer-Details-Right-List a:hover {
  color: #ededed;
}

@media screen and (max-width: 768px) {
  .main .search-section .filter-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 2em;
  }
  .main .search-section .filter-button img {
    width: 42px;
    height: 42px;
  }
  footer {
    display: flex;
    bottom: 0;
    margin-top: 5%;
    width: 100%;
    flex-direction: column;
    background-color: #2F2F38;
  }
  footer .Footer-Details-Left {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .Footer-Details-Right {
    width: 100%;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */